.fa-sun-o{
	  transform: scale(2);
	  color: coral;
	  position: relative;
	  top: -100px;
	  left: -80px;
	  animation-name: sun;
	  animation-duration: 2s;
	  animation-iteration-count: infinite;
	}
	.fa-ambulance{
	  color: blue;
	  transform: scale(3);
	  animation-name: drive;
	  animation-duration: 0.5s;
	  animation-iteration-count: infinite;
	}
	.result__cell--animation{
 		display: none;
 	}
 	.result--animation{
 		display: flex;
 		justify-content: center;
 		align-items: center;
 	}
 	.animation--animation{
 		display: block;
 	}
	@keyframes drive{
	  0% {transform: scale(3)}
	  50% {transform: scale(3) rotate(1deg) translateY(0.5px)}
	  100% {transform: scale(3) rotate(-1deg)}
	}

	@keyframes sun{
	  0% {transform: scale(2)}
	  50% {transform: scale(2.5); color: #FFC455}
	  100% {transform: scale(2)
 	}